.container {
    background-color: green;
    width: 250px;
    height: 100%;
    border: 2px;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px 100px;
    gap: 20px;
    grid-auto-flow: column;
    justify-content: center;
    border-radius: 10px;
}

div {
    background-color: #64E04F;
}
.items {
    font-size: 2rem;
    border-radius: 5px;
    display: grid;
    place-items: end;
}    
